src/main/mule/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5b956233-a707-41df-b5a9-8b7d1dbfb98c" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="fb407d51-2e5f-4ee2-a7a8-19b9d42a383d" >
		<vm:queues >
			<vm:queue queueName="TestQ" />
		</vm:queues>
	</vm:config>
	<flow name="test1Flow" doc:id="def74c58-d5f3-4f41-bd49-d1e8cc26ae0c" >
		<http:listener doc:name="Listener" doc:id="fc4e37ba-1c07-4c34-bcb7-947485fdcd8f" config-ref="HTTP_Listener_config" path="/test1"/>
		<ee:transform doc:name="Transform Message" doc:id="05674ac2-9bf6-4554-b2b1-728bd5b97d03" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	CONTACT_EMAIL: payload.contact_email,
	CONTACT_PHONE: payload.contact_phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish queueName="TestQ" doc:name="Publish" doc:id="3d95e3b9-6d8b-40ef-9657-b6533ffab07b" config-ref="VM_Config"/>
	</flow>
	<flow name="test1Flow1" doc:id="051f1f58-4c5a-4275-844f-8d658e9db2a9" >
		<vm:listener queueName="TestQ" doc:name="Listener" doc:id="8f3a19f2-c4a1-4ad4-b16b-105ad6d5283f" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="91f20cb4-9388-4106-9926-b3603ed63da6" message="#[payload]"/>
	</flow>
</mule>
